html{
    font-size: 16px;
    padding : 0px;
    margin : 0px;
}

body {
    margin: 0;
}


table, td {
    border : 1px solid black;
    border-collapse: collapse;
    width: 500px;
    
}
td {
    padding : 1rem;
}

nav {
    display : block;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color : #dddddd;
    margin-bottom : 2rem;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul > li > a { 
    display: block;
    padding : 1rem; 
}
nav a:hover {
    background-color: black;
    color: white;
   
}

div {
    display : inline-block;
    padding: 0 1rem 0 1rem;
    background-color: #dddddd;
    max-width: 500px;
}
p {
    font-size: 16px;
}

.inner{
    border-bottom: 1px dotted black;
}
.outer{
    border-bottom: 1px dotted black;
    padding-bottom: 2px;
}

.back-btn {
    
}


