:root {
    --grid-size : 400px;
    --square-size: calc((var(--grid-size) / 3) - 2px);

}
div {
    margin: 0;
}
.grid {
    display:flex;
    flex-wrap: wrap;
    height: var(--grid-size);
    width: var(--grid-size);
    row-gap : 0px;
}
.grid div{
    border: 1px solid black;
    height: var(--square-size);
    width: var(--square-size);
    background-color: white;
}

.grid div:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

