body, html {
    margin: 0;
    padding: 0;
}

.container {
    display : block;
    max-width: 1280px;
    margin : auto;
}

.flex-row {
    display : flex;
    justify-content: space-between;
}

.table, .table th, .table td {
    border : 1px solid black;
}
nav {
    display : block;
    justify-content: space-between;
    background-color : #dddddd;
    margin-bottom : 2rem;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul > li > a { 
    display: block;
    padding : 1rem; 
}
nav a:hover {
    background-color: black;
    color: white;
   
}