body, html {
    margin: 0 !important;
    height : 100vh;
    overflow: hidden;
}


nav {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #cccccc;
    border-bottom: 1px solid #000;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav > ul > li > a { 
    display: block;
    padding : 1rem; 
}
nav a:hover {
    background-color: black;
    color: white;
   
}

.blue {
    background-color: #007bff;
    color: #fff;
}



.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}

.sidebar{
    flex: 0 0 20%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #dddddd;
}

.sidebar ul{
    list-style: none;
    padding: 1rem;
}

.sidebar li{
    padding: 1rem;
}

li:hover {
    transform: scale(1.05);
    background-color: #007bff;
    color: white !important;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius : 10px;
    cursor: pointer;
}

.home-li > h3 {
    margin:  0;
}

.home-li {
    color: #007bff;
}

.content {
    flex : 1 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    overflow: auto;
}
.content-header {
    text-align: center;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    
}

.content-header h1 {
    margin : 0;
}

.content-main{
    padding : 1rem;
}

.footer{
    position: sticky;
    bottom: 0;
    background-color: #dddddd;
    height: max-content;
    text-align: center;
    padding: 1rem;
    /* text-align: center;
    margin-top: auto;
    background-color: #dddddd;
    padding: 1rem; */
}

.back-btn {
    width: max-content;
    display: block;
    margin-top: 1rem;
    color : #007bff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #007bff ;
}

.back-btn:hover {
    background-color: #007bff;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius : 10px;
    cursor: pointer;
}

.container {
    display : block;
    max-width: 1300px;
    margin : auto;
}

.flex-row {
    display : flex;
    justify-content: space-between;
}

.table, .table th, .table td {
    border : 1px solid black;
}


